.form-container {
  display: flex;
  justify-content: space-between;
  padding: 82px 330px 0px 103px;
}

.form-text-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 26px;
  font-family: Syne;
  font-weight: 600;
}

.form-text-para {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-family: Work Sans;
  font-weight: 400;
}

input[type="text"] {
  border: none;
  background-color: transparent;
}

.input {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  width: 558px;
  padding: 7px;
  margin-bottom: 35px;
}

.label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-family: Work Sans;
  font-weight: 400;
}

.footer-msg {
  margin-left: 90px;
}

.ellipse {
  position: absolute;
  top: 260px;
  right: 97px;
  bottom: 0px;
  left: 1162px;
}

.send {
  position: absolute;
  top: 343px;
  right: 151px;
  left: 1217px;
  color: #f07e15;
  font-size: 26px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 16px;
}

.copyright {
  height: 66px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-msg {
  color: white;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
}
